body{
    
    font-family: 'Rosario', sans-serif;
}

#container {
    width:1200px;
    margin: auto;
}

header{
    background-color:#f8f8f8;
}


.text{
    float:left;
    width: 400px;
    height:20px;
    background-color: rgb(51, 51, 51);
    text-align: center;
}

.text a{
    color:#fff;
    text-decoration: none;
}

#logo{
    margin-left:120px;
    padding-top: 30px;
    float:left;
}

h1{
    font-style: italic;
    font-size: 1em;
}

.blocA{
    float: right;
    padding-top: 30px;
    margin-left:60px;
    
}

.blocA p{
    font-size: 0.7em;
}

.blocA a{
    text-decoration: none;
    color:#000;
}

.Float {
    float:left;
}

.clear{
    clear: both;
}

h2 {
    font-weight: bold;
}

.imgtxt1, .imgtxt2{
    float:left;
}
hr{
    clear: both;
    border-color: rgb(194, 193, 193);
}


.imgtxt2{
    margin-left:50px;
    margin-right: 50px;
}

nav{
    border-top:1px solid lightgrey;
    height:28px;
    border-bottom: 3px solid rgb(206, 207, 208);
    background: linear-gradient(to top, rgb(197, 197, 197),rgb(236, 237, 238));
}


nav ul li {
    display: inline-block;
    margin-left: 30px;
    border-right: 1px solid rgba(138, 138, 138, 0.529);
    padding-right: 15px;
    height: 22px;
    padding-top: 2px;
    
}

nav ul li a {
    text-decoration: none;
    color:#000;
    font-size: 0.9em;
    
   
}

nav form{
    float: right;
    margin-right: 80px;
    transform:translate(0, -20px);
 }



#wrapper{
    background-color: #fff;
    width:1100px;
    margin: auto;
    padding-top: 30px;
}

.slide {
    float:left;
    position: relative;

}

.txtopacity{
    background-color: rgba(75, 75, 75, 0.5);
    height:40px;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    z-index: 1;
    padding-left:10px;
    padding-top:10px;
}

.txtopacity p{
    color:#fff;
}

#carouselExampleIndicators ol{
    padding-left:430px;
}

#carouselExampleIndicators ol li{
    height:20px;
    width:20px;
    padding:13px;
}

.carousel-control-prev, .carousel-control-next{
    opacity:1;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #f52674;
    width:30px;
    height:30px;
}

.carousel-control-prev-icon{
    transform:translate(-34px, 0);
}

.carousel-control-next-icon{
    transform:translate(37px, 0);
}

.petite1, .petite2{
    float:left;
    margin-left: 20px;
    position: relative;
   width:300px;
   height:200px;
}

.petite1{
    background-image: url(../IMG/image1.jpg);
    background-repeat: no-repeat
}
.petite2{
    margin-top:45px;
    background-image: url(../IMG/image2.jpg);
    background-repeat: no-repeat

}


.petite1 a, .petite2 a{
    background-color: #f52674;
    text-align: center;
    position: absolute;
    bottom:0;
   width:100%;
   text-decoration: none;
   color:#fff;
   font-weight: bold;
   padding : 20px 0;

}

.rose a{
    font-size:0.7em;
    color:#fff;
    text-decoration: none;
}

.littlegray{
    margin-top: 20px;
    margin-bottom: 20px;
    float:left;
    width:25%;
}

.littlegraylast{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top:20px;
    float:left;
    width:25%;
}

.image-float{
    float:left;
}

.txt-float{
    margin-top:13px;
    margin-left:4px;
    color: #afafaf;
    float:left;
    text-transform: uppercase;
    font-size: 0.9em;
}

.produit{
    border: 1px solid #afafaf;
    width:280px;
    float:left;
    margin-left:40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.margin{
    width:1100px;
    transform:translate(0, -50px);
    z-index:0;
}

.rectangle{
    background-color: #f52674;
    width:130px;
    height:40px;
    padding:10px 10px;
    position:relative;
    z-index: 1;
    margin-bottom: 30px;
}

.triangle{
    width: 0; 
    height: 0; 
    border-top: 50px solid transparent;
    border-bottom: 0 solid transparent;
    position: absolute;
    top:0;
    right:-15px;
    border-left: 15px solid #f52674;
}

.image1{
    width:280px;
    height:200px;
    background:url(../IMG/carrelage1.jpg) no-repeat;
    background-size: cover;
    
}

.image2{
    width:280px;
    height:200px;
    background:url(../IMG/carrelage5.jpg) no-repeat;
    background-size: cover;
    z-index:1;
}

.bandeau1{
    z-index:2;
    margin-bottom:-210px;
}

.image3{
    width:280px;
    height:200px;
    background:url(../IMG/carrelage7.jpg) no-repeat;
    background-size: cover;
}

.bandeau2{
    z-index:2;
    margin-bottom:-210px;
}

.image4{
    width:280px;
    height:200px;
    background:url(../IMG/carrelage8.jpg) no-repeat;
    background-size: cover;
}

.image5{
    width:280px;
    height:200px;
    background:url(../IMG/carrelage10.jpg) no-repeat;
    background-size: cover;
}

.image6{
    width:280px;
    height:200px;
    background:url(../IMG/carrelage13.jpg) no-repeat;
    background-size: cover;
}

.bandeau3{
    z-index:2;
    margin-bottom:-210px;
}

h4{
    font-weight: bold;
    text-align: center;
    margin-top:10px;
    font-size: 0.6em;
}

h5{
    color: #f52674;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size:0.9em;
}

.minigris{
    background-color: rgb(51, 51, 51);
    float: left;
    width: 50%;
    font-size: 0.8em;
    height: 20px;
}

.minigris i{
    float:left;
    margin-top:3px;
    margin-left: 10px;
    color:#fff;
}

.minigris p{
    float:left;
    text-align: center;
    margin-left:10px;
    margin-top:3px;
    color:#fff;
}

.minirose{
    background-color:  #f52674;
    float: left;
    width: 50%;
    font-size: 0.8em;
    height: 20px;
}

.minirose i{
    float:left;
    margin-top:3px;
    margin-left: 10px;
    color:#fff;
}

.minirose p{
    float:left;
    text-align: center;
    margin-left:10px;
    margin-top:3px;
    color:#fff;
}

.minigray{
    clear: both;
    background-color: rgb(189, 189, 189);
    width:100%;
    height:20px;
    font-size: 0.8em;
}

.minigray i{
    float:left;
    margin-top:5px;
    margin-left:30px;
    color:#fff;
}

.minigray p{
    float:left;
    text-align: center;
    margin-left:10px;
    margin-top:3px;
    color:#fff;
}

h3{
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
    padding-top:3px;
}



.rectangle2{
    background-color: #f52674;
    width:100px;
    height:20px;
    padding:3px 5px;
    position: relative;
}

.triangle2{
    width: 0; 
    height: 0; 
    border-top: 11px solid transparent;
    border-bottom: 9px solid transparent;
    position: absolute;
    top:0;
    right:-15px;
    border-left: 15px solid #f52674;
}

.rectangle2, .triangle2{
    z-index:2;
}



.eshop{
    background-color: rgb(51, 51, 51);
    padding-top:70px;
    padding-bottom:10px;
    color:#fff;
    z-index: 1;
    margin-top:-11px;
}

.eshop p{
    font-size: 0.9em;
}

.eshop a{
    color: #f52674;
    text-decoration: none;
}

.lien {
    text-align: center;
    margin-top:50px;
}

.tiers{
    float:left;
    width:30%;
    margin-left:20px;
    border-right:0.5px solid #fff;
}

.tiersdroite{
    float:left;
    width:30%;
    margin-left:20px;
}

.icones{
    float:left;
    margin-right: 20px;
    height:160px;
}

.adresse {
    width: 38px;
    height: 38px;
    background: url(../IMG/sprites.png) no-repeat;
    background-position-y: -102px
}

.telephone{
    margin-top:35px;
    width: 38px;
    height: 38px;
    background: url(../IMG/sprites.png) no-repeat;
    background-position-y: -137px
}

.email{
    margin-top:20px;
    width: 38px;
    height: 38px;
    background: url(../IMG/sprites.png) no-repeat;
}

.horaires{
    width: 38px;
    height: 38px;
    background: url(../IMG/sprites.png) no-repeat;
    background-position-y: -33px
}

.qui{
    width: 38px;
    height: 38px;
    background: url(../IMG/sprites.png) no-repeat;
    background-position-y: -67px
}

footer{
    background-color:#f8f8f8;
    padding:50px;
    margin-top:30px;
    
}

footer a{
    display: block;
    color: dimgrey;
}

footer p{
    color: dimgrey;
}

h6{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.blocB{
    float:left;
    margin-right: 10px;
    width:253px;
}

.grand-demi {
    float:left;
    width:790px;
}

.petit-demi {
    float:left;
    width:300px;
    height:500px;
}

iframe{
    margin-top:25px;
    float:left;
    margin-bottom: 10px;
}

.adresse-iframe{
    margin-top:25px;
    color: dimgrey;
    float: left;
    margin-left:20px;
}

.info-liste{
    margin-top:25px;
    line-height: 1.2em;
    padding-left:40px;
}

.qualité{
    margin-top:25px;
    padding-left: 40px;
}

.charabia{
    margin-right:20px;
    margin-top:20px;
    font-size:1.1em;
}

.e-shop{
    margin-top:25px;
}

.newsletter{
    margin-top:20px;
    text-align: center;
    line-height: 2.5em;
    font-size: 0.9em;
    color:#000;
    background-color: #ebe7e8;
    width:350px;
    height:150px;
    padding-top:20px;
    padding-bottom: 20px;
}

.rbouton2{
    margin-left:20px;
}

.titre{
    font-size: 1.3em;
    color:#000;
}

.envoi{
    margin-top:30px;
    text-align: center;
    line-height: 2.5em;
    font-size: 0.9em;
    color:#000;
    background-color: #ebe7e8;
    width:350px;
    height:300px;
    padding-top:20px;
}

.rbouton3 p{
    text-align: left;
    padding-left: 20px;
}

.rbouton4 p{
    text-align: left;
    padding-left: 15px;
}

.rsx ul{
    text-align: center;
    margin-top:20px;
}

.rsx ul li{
    display: inline-block;
}

.rsx ul li a{
    color: #000;
}

.boutton {
    margin-top:30px;
    text-align: center;
    z-index:2;
    
}

.bas{
   z-index:1; 
   margin-top:-18px;
}

.copyright{
    padding-bottom:20px;
    float:left;
    width:50%;
}

.last{
    padding-bottom: 20px;
    float:left;
    text-align: right;
    width:50%;
}