<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="position fixed">
    <meta name="author" content="Sonia Bougamha">
    <meta name="description" content="Training">
    <link rel="stylesheet" href="css/style.css"><!-- CSS-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> <!-- GOOGLE FONT =>police Montserrat-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"><!-- Font-Awesome=> icones-->
    
    <title>Position Fixed</title>
</head>

<body>

    <div class="contenair">

        <header>
            <nav>
                <a href="#">L'EXPOSITION</a>
                <a href="#">INFOS PRATIQUES</a>
                <a href="#">FAQ</a>
                <a href="#">AVIS</a>
                <a href="#">PRESSE</a>
                <span>
                    <a href="#">FR |</a>
                    
                    <a href="#">EN</a>
                </span>

                <a href="#">
                    <button>
                        <i class="fas fa-ticket-alt"></i>  BILLETERIE
                    </button>
                </a>
                
                </nav>


            <div class="toni">
                <img src="img/logo.png" id="jw" alt="Logo Jurassic World">
                <img src="img/climatise.png" id="banderas" alt="clilmatiseur">
            </div>

            

        </header>

        <div class="contenu">
            <main>
                <h1>REGARDEZ UN DINOSAURE DROIT DANS LES YEUX !</h1>

                <img src="img/entree.png" class="enter" alt="L'entrée des lieux">
                <span>Venez visiter notre parc sur le thème de Jurassic World</span>
                <div class="text">
                    <p>
                        <strong>Jurassic World / l'Exposition </strong>prolonge l'expérience des spectateurs en associant des
                        <br>
                        environnements immersifs à des éléments éducatifs et scientifiques intéractifs.
                    </p>
                    
                    <p>
                        Inspiré de l'un des plus grands blockbusters de l'histoire du cinéma, cet événement plonge petits et
                        <br> 
                        grands dans les scènes inspirées du célèbre film. Ici, le parc imaginaire prend vie... juste sous vos
                        <br>
                        yeux.
                    </p>
                    <p>
                        Découvrez
                        <em>Isla Nublar </em>en classe VIP et explorez
                        <strong>Jurassic World</strong>. Ecarquillez vos yeux devant
                        <br>
                        l'imposant <em>Brachiosaure</em>; discutez nez à nez avec un <em>Vélociraptor</em> et approchez-vous du plus
                        <br>
                        mauvais de tous, le terrible <em>Tyrannosaure rex</em>.
                    </p>
                    <p>
                        Créée en étroite collaboration avec un paléontologue renommé, Jack Horner, l'exposition est riche
                        <br>
                        en contenus intéractifs et éducatifs issus de recherches scientifiques sur l'ADN des dinosaures,
                        <br>
                        autant de découvertes qui ont permis à
                        <strong>Jurassic World</strong> de prendre vie. Quel que soit votre âge, ces
                        <br>
                        créatures préhistoriques incroyables n'auront plus aucun secret pour vous.
                    </p>
                </div>
            
                <article>
                    Jurassic World: Un voyage à couper le soufle!
                    <br>
                    Du 14 Avril au 2 septembre 2018
                    <br>
                    à la Cité du Cinéma
                    <br>
                    Paris / Saint-Denis
                    <br><br>
                    Réservez vos places dès aujour'hui,
                    <br>
                    et souvenez-vous... si quelque chose vous poursuit, <strong>COUREZ</strong>
                    <br>
                    <strong>!</strong>
                    <br>

                    <a href="#">
                        <button>
                            RESERVER
                        </button>
                    </a>
                </article>

            </main>

            <section class="duo">
                <aside>
                    <h3><i class="far fa-credit-card"></i> TARIFS</h3>
                    <ul>
                        <li>Adulte : <strong>19.90 €</strong> </li>
                        <li>Enfant (- de 11 ans): <strong>15.90 €</strong></li>
                        <li>Famille (2 adultes + 2 enfants): <strong>64.90 €</strong></li>
                        <li>Audioguide: <strong>5 €</strong></li>
                    </ul>

                    Possibilité de réserver un billet coupe file prioritaire par tranche horaire de 30 minutes.
                    <br>
                    <br>
                    
                    <a href="#">
                        <button>
                            ACHETER EN LIGNE
                        </button>
                    </a>
                    
                    <hr>

                    <h3><i class="far fa-clock"></i> HORAIRES</h3>
                    <ul>
                        <li>Tous les jours 7j/7</li>
                        <li><strong>10h00 - 19h00</strong></li>
                        <li>Dernière entrée: 18h00</li>
                    </ul>
                </aside>

                <aside>
                    <h3><i class="fas fa-bus"></i> Comment venir ?</h3>
                    <dl>
                        <dt>
                            <strong>Cité du cinéma</strong>
                        </dt>
                        <dd>20 Rue Ampère</dd>
                        <dd>93200 Saint-Denis</dd>
                    </dl>
                    <p>
                        <strong>En Métro:</strong>&nbsp;<img src="img/ligne-13.png" id="metro" alt="Metropolitain ligne 13"> (Carrefour Pleyel)
                        <br>
                        <strong>En Bus:</strong> Ligne 139 (arrêt rue Ampère)
                        <br>
                        <strong>En voiture:</strong> via l'autoroute A1 (sortie 2 vers Saint-Denis / La Plaine / Saint-Denis-Centre) ou via l'autoroute A86 (sortie 8a vers Saint Ouen / Paris-Porte de Cligancourt / Saint-Denis-Pleyel)
                    </p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2621.619703776899!2d2.3343707160208007!3d48.922637379293825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66edb70296807%3A0x50acf55cb97f254b!2zQ2l0w6kgZHUgQ2luw6ltYQ!5e0!3m2!1sfr!2sfr!4v1542363633722" width="600" height="450"  style="border:0" allowfullscreen></iframe>
                </aside>
            </section>
            <div class="clear"></div>

            <section class="partenaires">
                <h2>PARTENAIRES</h2>
                <img src="img/tf1.png" alt="Logo de TF1">
                <img src="img/bfm.png" alt="Logo de BFM">
                <img src="img/jdd.png" alt="Logo du Journal du Dimanche">
                <img src="img/rtl.png" alt="Logo de RTL">
            </section>

        </div> <!-- contenu-->

        <footer>
            <ul>
                
                    <li><a href="#">Mentions légales</a></li>
                
                
                    <li><a href="#">Conditions Générales d'utilisation</a></li>
                
                
                    <li><a href="#">Politique de confidentalité</a></li>
                
                
                    <li><a href="#">Cookies</a></li>
                
                
                    <li><a href="#">Contacts</a></li>
                
            </ul>

            <img src="img/logo2.png" alt="Logo de Jurassic World">

        </footer>
    </div><!--contenair-->
</body>
</html>