body{
    width:80%;
    margin:auto;
}

h2{
    text-align : center;
}

.jumbotron{
   margin-top:2%;
}

.noborder{
    border : none;
}

.btn{
    background-color:rgb(1, 90, 150);
    border-color: rgb(1, 90, 150);
}
