<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ma Boutique</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="container"> <!--L'ensemble de la page-->

        <header class="header"> <!--L'entête avec 3 parties-->

            <div class="headergauche"> <!--1ere partie-->
                <h1 class="h1"><img src="IMG/logo.png " alt="logo"><em>Ma Boutique</em></h1>
                <p class="rose"><em>Vente en ligne, Mode, Tendance et Déco</em></p>
            </div>
            <div class="headercentre"> <!--2eme partie-->
                <h2 class="h2">Besoin d'aide ?</h2>
                <img src="IMG/aide.png" alt="numéro d'aide"> <!--je n'ai pas réussi à le mettre dans le css sans chambouler toute ma page donc je l'ai laissé ici-->
                <p class="gris"><em>Du lundi au Vendredi de 10h à 17h30</em></p>
            </div>
            <div class="headerdroite"> <!--3eme partie-->
                <h6 class="h6">Mon Compte</h6>
                <hr class="hr">
                <p class="blanc"><img src="IMG/article.png" alt="panier">article(s) dans votre panier</p>
            </div>
        </header>

        <div class="clear"></div>

        <nav class="nav"> <!--menu de navigation avec plusieurs liens-->
            <p><a href="#" class="liens">Accueil</a>
                <a href="#" class="liens">Vêtements</a>
                <a href="#" class="liens">Maison</a>
                <a href="#" class="liens">Technologie</a>
                <a href="#" class="liens">Bijoux</a>
                <a href="#" class="liens">Idées Cadeaux</a></p>
        </nav>

        <img src="IMG/bandeau.png" alt="azzaro"> <!--image qui sert de bandeau, collée à la nav-->

        <div class="clear"></div>

        <section> <!--1ere section en 3 parties.-->
            <div class="paiement">
                <h4>Paiement Sécurisé</h4>
                <p>Réglez vos achats en toute sérénité sur maboutique.com</p>
                <img src="IMG/paiement.png" alt="moyens de paiment">
            </div>
            <div class="nous">
                <h4>Qui sommes nous ?</h4>
                <p>Bienvenue chez MaBoutique ! MaBoutique est la plus grande boutique en ligne de France consacrée à la
                    mode et à la beauté pour femmes et hommes.<br>
                    Nous proposons plus de 850 marques ainsi que nos propres collections.<br>
                    N'hésitez plus ! les livraisons et les retours sont gratuits.<br>
                    Retrait possible de votre commande dans notre entrepôt sur RDV.</p>
            </div>
            <div class="services">
                <h4>Services</h4>
                <p><img src="IMG/camion.png" alt="camion">Livraison sous 48h</p>
                <p><img src="IMG/echange.png" alt="échange">Produits Echangeables</p>
            </div>
        </section>

        <div class="clear"></div>

        <section><!-- 2eme section, toujours en 3 parties avec 3 "boxs", 1 pour chaque parties-->
            <div class="bonplan">
                <h4>Bon Plan</h4>
                <p><img src="IMG/robe.png" alt="robe">bloc bloc bloc bloc bloc bloc bloc bloc</p>
                <a href="#" class="liensv">Voir</a>
            </div>
            <div class="coupdecoeur">
                <h4>Coup de coeur</h4>
                <p><img src="IMG/talons.png" alt="chaussures à talons">bloc bloc bloc bloc bloc bloc
                    bloc bloc</p>
                <a href="#" class="liensv">Voir</a>
            </div>
            <div class="objectif">
                <h4>Objectif Plaisir</h4>
                <p><img src="IMG/chemise.png" alt="chemise pour homme">bloc bloc bloc bloc bloc bloc
                    bloc bloc</p>
                <a href="#" class="liensv">Voir</a>
            </div>
        </section>

        <div class="clear"></div>

        <footer class="footer"> <!--le footer qui vient terminer la page  avec plusieurs liens.-->
            <p><a href="#" class="liensf">Newsletter -</a>
                <a href="#" class="liensf">Promotions -</a>
                <a href="#" class="liensf">Nouveaux produits -</a>
                <a href="#" class="liensf">Meilleures ventes -</a>
                <a href="#" class="liensf">Mentions légales -</a>
                <a href="#" class="liensf">Conditions Générales de Vente -</a>
                <a href="#" class="liensf">Contactez-nous</a></p>
        </footer>

    </div>

</body>

</html>