*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(73, 73, 73);
}
#conteneur{
    width:90%;
    margin:auto;
}
/*DEBUT HEADER*/
h1{
    font-size: 3em;
    text-align: center;
}
/*INFOS SOCIETE EMETTRICE*/
 .societe{
    float: left;
    margin-top: 3%;
    margin-left: 1%;
    width:50%;
 }
 
 .adresseSociete{
    width: 49%;
    margin-bottom: 1%;
    display:block;
 }
 .nomSociete{
    width: 49%;
    margin-bottom: 1%;
    display:block;
 }
 .mailSociete{
    width: 49%;
    margin-bottom: 1%;
    display:block;
 }
 .telSociete{
    width: 49%;
    margin-bottom: 1%;
    display:block;
 }
/*INFOS FACTURE*/
.numeroFacture{
    width: 15%;
}
.factureDate{
    float: right;
    margin-top: 15%;
    margin-bottom: 3%;
    text-align: right;
}
.facture p{
    display: inline-block;
    margin-right: 1%;
    font-size:1.3em;
}
#selectJour{
    width: 15%;
}
#selectMois{
    width: 15%;
}
#selectAnnee{
    width: 20%;
}
#selectDate p{
    display: inline-block;
    margin-right: 1%;
    font-size:1.3em;
}
/*FIN HEADER*/
/* DEBUT PARTIE CENTRALE */
.Partie_centrale {
    margin-bottom:25%;
    margin-top:5%;
}
h4{
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    display:inline-block;
    margin-bottom:3%;
    font-size: 1.3em;
}
.Partie_centrale input{
    display: block;
}
.gauche{
    float:left;
    width:50%;
    transform: translate(51%,0);
}
.droite{
    float:left;
    width:50%;
}
.clear{
    clear: both;
}
#select_clients{
    width:50%;
    margin-bottom:1%;
}
#select_clientsb{
    width:50%;
    margin-bottom:1%;
}
.gauche input{
    width:49%;
    margin-bottom:1%;
}
.droite input{
    width:49%;
    margin-bottom:1%;
}
/* FIN PARTIE CENTRALE */
/* DEBUT TABLEAU Détail des produits facturés */
h2{
    font-size: 2em;
    margin-bottom:1%;
}
table.details{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
table.details th, table.details td{
    text-align: center;
    border: 1px solid black;
    width: 20%;
    height: 40px;
}
table.details input{
    text-align: right;
    width: 90%;
}
table.details select{
    width: 90%;
    line-height:40px;
}
/* FIN TABLEAU Détail des produits facturés*/
/* DEBUT TABLEAU total  */
thead h4{
    text-transform: none;
    text-align: center;
}
table.total{
    border-collapse:collapse;
    border-top: 1px solid black;
    width: 100%;
    margin: 80px 0px;
    height:40px;
}
table td.montant{
    text-align: right;
    width: 80%;
    font-size:1.3em;
    height:40px;
}
table .case{
    border-collapse:collapse;
    border: 1px solid black;
    width: 20%;
}
/* FIN TABLEAU total */
/* DEBUT REMISE */
/*DEBUT FOOTER*/
    footer p#ghost{
        border: 1px solid black;
        text-align: center;
        font-size: 20px;
        margin: 30px 0px;
        display: block;
    }
/* FIN REMISE */

footer span{
    color: grey;
    text-align: center;
    display: inline;
    margin-left:3%;
    font-size: 1.5em;
}
    
footer p{
    clear: both;
    text-align: center;
    display: inline;
    font-size: 1.5em;
    
 }
 .txtGras{
     font-weight: bold;
     text-align: center;
     margin-left:40%;
 }
 footer a button{
     width: 15%;
     font-size: 0.8em;
     clear: both;
     float: left;
     margin-left: 1%;
     margin-top: 3%;
     margin-bottom: 1%;
 }
/*FIN FOOTER*/
